header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #616774;
    color: #fff;
  }

  body {
    background-color: #d2cae4;
  }

  .me .goldengate {
    display: flex;
    
    padding: 1%;
    background-color: #7cb1be;
   
  }
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }


  img {
    height: 500px;
    width: 500px;
    display: flex;
    padding: 1%;
    background-color: #7cb1be;
    

  }

  h1 {
    font-size: 400%;
    color:#616774;
    background-color: #7cb1be;
    border: 3px #040a10;
} 

  h2 {
    font-size: 400%;
    color:#616774;
    border: 3px #040a10;
    text-decoration: underline;
  }

  h3 {
    font-size: 400%;
    color:#616774;
    border: 3px #040a10;
    text-decoration: underline;

  }  

  h4 {
    font-size: 400%;
    color:#616774;
    border: 3px #040a10;
    text-decoration: underline;

  }  

  p {
    color:#1b3f8c;
    display: flex;
flex-direction: row-reverse;
}


 nav2 {
  display: flex;
    justify-content: space-between;
    min-width: 300px;
    
 }

 nav2 a {color: #7cb1be;
  font-weight: bold;

 }

 nav2:hover {
  color: #fff;

 }
 
 nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  }
  
  nav a {
    color: #7cb1be;
    font-weight: bold;
    text-decoration: underline;
  }

  
  article p {
   
    margin: 2% 0;
    font-size: 200%;
    padding-left: 50%;
  }